<!-- TODO: FTC VIDEO 117 -->
<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- TODO: FTC VIDEO 121; SE COMENTAN LOS 3 PRIMEROS LINKS -->
  <!-- TODO: FTC VIDEO 117 TIENE QUE SER EXACTAMENTE VACIO exact: true
  <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Hombe Page</li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">About Page</li>
  TODO: FTC VIDEO 117 TAREA
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">Contact Page</li> -->

  <!-- TODO: FTC VIDEO 120-->
  <li routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item">Por Capital</li>
  <li routerLink="countries/by-country" routerLinkActive="active" class="list-group-item">Por País</li>
  <li routerLink="countries/by-region" routerLinkActive="active" class="list-group-item">Por Región</li>

</ul>
